/* .logo {
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
}
.logo:hover {
  color: #fff;
}

.logo::first-letter {
  color: #2ecc71;
} */

.logoImg {
  width: 200px;
}

nav {
  z-index: 2;
}

a.nav-link {
  font-weight: 700;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.navbar-nav > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border-bottom: 0.1875rem solid rgba(255, 255, 255, 0);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

.navbar-nav > a.active,
.navbar-nav > a:focus,
.navbar-nav > a:hover {
  border-bottom: 0.1875rem solid #2ecc71;
}
